
@model BookStoreProject.Models.VM.PersonVM
    <!-- Select2 -->
<link rel="stylesheet" href="/Admin/plugins/select2/css/select2.min.css">
<link rel="stylesheet" href="/Admin/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
<!-- Theme style -->
<link rel="stylesheet" href="/Admin/dist/css/adminlte.min.css">

<div class="card-body">
    @Html.ValidationSummary()
    <div class="form-row">
        <div class="form-group col-lg-6">
            @Html.LabelFor(q => q.Name)

            @Html.TextBoxFor(q => q.Name, new { @class = "form-control form-control-border border-width-2", @placeholder = "Enter name" })
        </div>
        <div class="form-group col-lg-6">
            @Html.LabelFor(q => q.SurName)
            @Html.TextBoxFor(q => q.SurName, new { @class = "form-control form-control-border border-width-2", @placeholder = "Enter surname" })
        </div>

    </div>


    <div class="form-group">
        @Html.LabelFor(q => q.Biography)
        @Html.TextAreaFor(q => q.Biography, new { @class = "form-control form-control-border border-width-2", @placeholder = "Write Something" })
    </div>
    <div class="form-row">
        <div class="form-group col-lg-6 ">
            @Html.LabelFor(q => q.BirthDate)
            @Html.TextBoxFor(q => q.BirthDate, new { @type = "date", @name = "birthdate", @class = "form-control form-control-border border-width-2", @placeholder = "mm/dd/yyyy" })
        </div>
        <div class="form-group col-lg-6 ">
            <label>Duty</label>
            <select class="select2" name="dutyarray" multiple="multiple" data-placeholder="Select Duty" style="width: 100%;">
                @foreach (var item in Model.EnumDuties)
        {
            <option value="@Convert.ToInt32(item)">@item.ToString()</option>
        }
                
            </select>
        </div>
    </div>
</div>


<!-- Select2 -->
<script src="/Admin/plugins/select2/js/select2.full.min.js"></script>


<script>
    $(document).ready(function () {
        //Initialize Select2 Elements
        $('.select2').select2()

        //Initialize Select2 Elements
        $('.select2bs4').select2({
            theme: 'bootstrap4'
        })

    });


</script>


