@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Admin/Shared/_AdminLayout.cshtml";
}

@model BookStoreProject.Models.VM.PersonVM

<style>
    .validation-summary-errors {
        color: red
    }
</style>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Person Add Form</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Person Add Form</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-lg">
                    <!-- general form elements -->
                    <div class="card card-teal">
                        <div class="card-header">
                            <h3 class="card-title">Add Person</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form>
                            <div class="card-body">
                                @Html.ValidationSummary()
                                <div class="form-group">
                                    @*<label for="PersonName">Name</label>*@
                                    @Html.LabelFor(q => q.Name)
                                    @*<input type="text" class="form-control form-control-border border-width-2" id="exampleInputName" placeholder="Enter name">*@
                                    @Html.TextBoxFor(q => q.Name, new { @class = "form-control form-control-border border-width-2", @placeholder = "Enter name" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(q => q.SurName)
                                    @Html.TextBoxFor(q => q.SurName, new { @class = "form-control form-control-border border-width-2", @placeholder = "Enter surname" })
                                </div>
                                @*<div class="form-group">
                                        <label for="PersonSurName">Surname</label>
                                        <input type="text" class="form-control form-control-border border-width-2" id="exampleInputSurName" placeholder="Enter surname">
                                    </div>*@
                                <div class="form-group">
                                    @Html.LabelFor(q => q.Biography)
                                    @Html.TextAreaFor(q => q.Biography, new { @class = "form-control form-control-border border-width-2", @placeholder = "Write Something" })
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-lg-6 ">
                                        @Html.LabelFor(q => q.BirthDate)
                                        @Html.TextBoxFor(q => q.Biography, new { @type = "date", @class = "form-control form-control-border border-width-2", @placeholder = "mm/dd/yyyy" })
                                    </div>
                                    <div class="form-group col-lg-6 ">
                                        @Html.LabelFor(q => q.Duty)
                                        
                                        @*@Html.DropDownList(q => q.Duty, new SelectList(Enum.GetValues(typeof(Duty))), "Select Gender")*@
            
                                    </div>
                                </div>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Check me out</label>
                            </div>
                    </div>
                    <!-- /.card-body -->

                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                    </form>
                </div>


            </div>
            <!--/.col (left) -->

        </div>
        <!-- /.row -->
                    </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
    <!-- /.content-wrapper -->
