
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Admin/Shared/_AdminLayout.cshtml";
}
@model BookStoreProject.Models.VM.PersonVM
    <!-- Select2 -->
<link rel="stylesheet" href="/Admin/plugins/select2/css/select2.min.css">
<link rel="stylesheet" href="/Admin/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
<!-- Theme style -->
<link rel="stylesheet" href="/Admin/dist/css/adminlte.min.css">

<style>
    .validation-summary-errors {
        color: red
    }
</style>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Person Edit Form</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Person Edit Form</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-lg">
                    <!-- general form elements -->
                    <div class="card card-teal">
                        <div class="card-header">
                            <h3 class="card-title">Edit Person</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form action="/Person/Edit/" method="post">

                            <div class="card-body">
                                @Html.ValidationSummary()
                                <div class="form-row">
                                    <div class="form-group col-lg-6">
                                        @Html.LabelFor(q => q.Name)

                                        @Html.TextBoxFor(q => q.Name, new { @class = "form-control form-control-border border-width-2", @placeholder = "Enter name" })
                                    </div>
                                    <div class="form-group col-lg-6">
                                        @Html.LabelFor(q => q.SurName, "Sur Name")
                                        @Html.TextBoxFor(q => q.SurName, new { @class = "form-control form-control-border border-width-2", @placeholder = "Enter surname" })
                                    </div>

                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(q => q.Biography)
                                    @Html.TextAreaFor(q => q.Biography, new { @class = "form-control form-control-border border-width-2", @placeholder = "Write Something" })
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-lg-6 ">
                                        @Html.LabelFor(q => q.BirthDate)
                                        @Html.TextBoxFor(q => q.BirthDate, "{0:yyyy-MM-dd}", new { @type = "date", @name = "birthdate", @class = "form-control form-control-border border-width-2", @placeholder = "mm/dd/yyyy" })
                                    </div>
                                    <div class="form-group col-lg-6 ">
                                        @Html.LabelFor(q => q.Duties)
                                        <select class="select2" name="dutyarray" multiple="multiple" data-placeholder="Select Duty" style="width: 100%;">

                                            @if (Model != null)
                                            {
                                                List<int> selected = new List<int>();

                                                @foreach (var item in Model.EnumDuties)
                                                {
                                                    foreach (var data in Model.Duties)
                                                    {
                                                        if (item.ToString() == data)
                                                        {
                                                            <option selected value="@Convert.ToUInt32(item)">
                                                                @item.ToString()

                                                            </option>
                                                            selected.Add(Convert.ToInt32(item));
                                                        }
                                                    }
                                                }
                                                @foreach (var item in Model.EnumDuties)
                                                {
                                                    if (!selected.Contains(Convert.ToInt32(item)))
                                                    {
                                                        <option value="@Convert.ToInt32(item)">@item.ToString()</option>

                                                    }
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>

                            @Html.HiddenFor(q => q.PersonID)

                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>

                        </form>

                    </div>


                </div>
                <!-- /.card-body -->


            </div>

        </div>
        <!-- /.container-fluid -->
        <!--/.col (left) -->
        <!-- /.row -->
    </section>
</div>
<script>
    //$(document).on("click", ".edit", function () {
    //    var id = $(this).attr("id");
    //    var Name =()

    //    $.ajax({
    //        url: "/Person/Edit",
    //        type: "POST",
    //        data: { id: id },
    //        success: function (msg) {


    //            console.log(msg);


    //            //window.location.href= "/Adminblog"
    //            alert("You will be redirected to the edit page")
    //        },
    //        error: function (err) {
    //            alert("Edit operation is failed!");
    //        }
    //    })
    //})
</script>

<!-- Select2 -->
<script src="/Admin/plugins/select2/js/select2.full.min.js"></script>


<script>
    $(document).ready(function () {
        //Initialize Select2 Elements
        $('.select2').select2()

        //Initialize Select2 Elements
        $('.select2bs4').select2({
            theme: 'bootstrap4'
        })

    });


</script>


<!-- /.content -->
<!-- /.content-wrapper -->
