
@{
    ViewData["Title"] = "PersonDetail";
    Layout = "~/Views/Site/Shared/_SiteLayout.cshtml";
}


@model BookStoreProject.Models.VM.PersonVM
<!-- Start: Page Banner -->
<section class="page-banner services-banner" style="background-image: url(/Site/images/writers.jpg)">
    <div class="container">
        <div class="banner-header">
            <h2>Writers/Interpreters Listing</h2>
            <span class="underline center"></span>
            <p class="lead">Proin ac eros pellentesque dolor pharetra tempo.</p>
        </div>
        <div class="breadcrumb">
            <ul>
                <li><a href="/SiteHome/">Home</a></li>
                <li>Person Detail</li>
            </ul>
        </div>
    </div>
</section>
<!-- End: Page Banner -->

<!-- Start: Products Section -->
<section class="book-padding">
    <div id="content" class="site-content">
        <div id="primary" class="content-area">
            <main id="main" class="site-main">
                <div class="booksmedia-detail-main">
                    <div class="container-fluid">

                        <!-- Start: Search Section -->

                        <div class="row">

                            <section class="search-filters" style="padding:0 70px 0 70px">

                                <div class="filter-box">

                                    <h3>What are you looking for at the Book Store?</h3>

                                    <form action="/SiteBook/Search/" method="post">

                                        <div class="col-md-4 col-sm-6">
                                            <div class="form-group">
                                                <label class="sr-only" for="keywords">Search by Keyword</label>
                                                <input class="form-control" placeholder="Search by Keyword" id="keywords" name="keywords">
                                            </div>
                                        </div>

                                        <div class="col-md-3 col-sm-6">
                                            <div class="form-group">
                                                <select name="catalog" id="catalog" class="form-control book-select">

                                                    <option>Select Top Category</option>

                                                    @*@foreach (var item in Model.Categories.Where(q => q.TopCategory == 0))
                                                    {

                                                        <option value="@item.ID">@item.CategoryName</option>
                                                    }*@

                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-3 col-sm-6">
                                            <div class="form-group">
                                                <select name="category" id="category" class="form-control book-select">
                                                    <option>Select Sub Category</option>

                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-2 col-sm-6">
                                            <div class="form-group">
                                                <input class="form-control" type="submit" value="Search">
                                            </div>
                                        </div>

                                    </form>
                                </div>

                                <div class="clear"></div>

                            </section>

                        </div>

                        <!-- End: Search Section -->
                        <div class="row" style="padding: 0 55px 0 55px">

                            <div class="col-md-12">
                                <div class="booksmedia-detail-box">
                                    <div class="single-book-box">
                                        <div class="post-thumbnail">
                                            <div class="book-list-icon yellow-icon"></div>

                                            <img alt="Person" src="/Admin/writerimg/@Model.Imagepath" />
                                        </div>
                                        <div class="post-detail">

                                            <header class="entry-header">
                                                <h2 class="entry-title">@Model.Name @Model.SurName</h2>
                                                <ul>
                                                    <li>
                                                        <strong>Duties:</strong>
                                                        @foreach (var item in Model.Duties)
                                                        {
                                                            <span>@item</span>
                                                        }
                                                    </li>

                                                    <li>

                                                        <strong>Birth Date:</strong><span>@Model.BirthDate?.ToString("dd.MM.yyyy")</span>

                                                    </li>

                                                </ul>
                                            </header>

                                        </div>
                                    </div>
                                    <p><strong>Biography:</strong> @Model.Biography </p>

                                    <p><strong>Other Books:</strong></p>

                                    <div class="booksmedia-fullwidth">
                                        <ul style="display:flex; justify-content:space-around; flex-wrap:wrap">
                                            @foreach (var item in Model.BookPeople)
                                            {
                                                <li>
                                                    <div class="book-list-icon yellow-icon"></div>
                                                    <figure>
                                                        <a href="/SiteBook/BookDetail/@item.BookID"><img src="/Admin/Coverimg/@item.Book.Imagepath" alt="Book" style="height:450px"></a>
                                                        <figcaption>
                                                            <header>

                                                                <h4><a href="">@item.Book.Name</a></h4>
                                                                <p>
                                                                    @foreach (var data in item.Book.BookPersons.Where(q => q.DutyID == 0))
                                                                    {
                                                                        <strong>Writer:</strong>@(data.Person.Name+ " "+data.Person.SurName) <br />
                                                                    }
                                                                </p>

                                                            </header>

                                                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. Pellentesque dolor turpis, pulvinar varius.</p>

                                                        </figcaption>
                                                    </figure>
                                                </li>
                                            }
                                            @foreach (var item in Model.BookPeople)
                                            {
                                                <li>
                                                    <div class="book-list-icon yellow-icon"></div>
                                                    <figure>
                                                        <a href="/SiteBook/BookDetail/@item.BookID"><img src="/Admin/Coverimg/@item.Book.Imagepath" alt="Book" style="height:450px"></a>
                                                        <figcaption>
                                                            <header>

                                                                <h4><a href="">@item.Book.Name</a></h4>
                                                                <p>
                                                                    @foreach (var data in item.Book.BookPersons.Where(q => q.DutyID == 0))
                                                                    {
                                                                        <strong>Writer:</strong>@(data.Person.Name+ " "+data.Person.SurName) <br />
                                                                    }
                                                                </p>

                                                            </header>

                                                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. Pellentesque dolor turpis, pulvinar varius.</p>

                                                        </figcaption>
                                                    </figure>
                                                </li>
                                            }
                                            @foreach (var item in Model.BookPeople)
                                            {
                                                <li>
                                                    <div class="book-list-icon yellow-icon"></div>
                                                    <figure>
                                                        <a href="/SiteBook/BookDetail/@item.BookID"><img src="/Admin/Coverimg/@item.Book.Imagepath" alt="Book" style="height:450px"></a>
                                                        <figcaption>
                                                            <header>

                                                                <h4><a href="">@item.Book.Name</a></h4>
                                                                <p>
                                                                    @foreach (var data in item.Book.BookPersons.Where(q => q.DutyID == 0))
                                                                    {
                                                                        <strong>Writer:</strong>@(data.Person.Name+ " "+data.Person.SurName) <br/>
                                                                    }
                                                                </p>

                                                            </header>

                                                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. Pellentesque dolor turpis, pulvinar varius.</p>

                                                        </figcaption>
                                                    </figure>
                                                </li>
                                            }


                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </main>
        </div>
    </div>
</section>

<!-- End: Products Section -->
