
@{
    ViewData["Title"] = "PersonDetail";
    Layout = "~/Views/Site/Shared/_SiteLayout.cshtml";
}


@model BookStoreProject.Models.VM.SiteBookVM
<!-- Start: Page Banner -->
<section class="page-banner services-banner" style="background-image: url(/Site/images/writers.jpg)">
    <div class="container">
        <div class="banner-header">
            <h2>Writers/Interpreters Listing</h2>
            <span class="underline center"></span>
            <p class="lead">Proin ac eros pellentesque dolor pharetra tempo.</p>
        </div>
        <div class="breadcrumb">
            <ul>
                <li><a href="/SiteHome/">Home</a></li>
                <li>Person Detail</li>
            </ul>
        </div>
    </div>
</section>
<!-- End: Page Banner -->

<!-- Start: Products Section -->
<section class="book-padding">
    <div id="content" class="site-content">
        <div id="primary" class="content-area">
            <main id="main" class="site-main">
                <div class="booksmedia-detail-main">
                    <div class="container-fluid">

                        <!-- Start: Search Section -->

                        @await Html.PartialAsync("Partial/Search")

                        <!-- End: Search Section -->
                        <div class="row" style="padding: 0 55px 0 55px">

                            @await Html.PartialAsync("Partial/FilterTree")

                            <div class="col-md-9">
                                <div class="booksmedia-detail-box">
                                    <div class="single-book-box">
                                        <div class="post-thumbnail">
                                            <div class="book-list-icon yellow-icon"></div>

                                            <img alt="Person" src="/Admin/writerimg/@Model.PersonDetail.Imagepath" style="height:450px;width:400px" />
                                        </div>
                                        <div class="post-detail">

                                            <header class="entry-header">
                                                <h2 class="entry-title">@Model.PersonDetail.Name @Model.PersonDetail.SurName</h2>
                                                <ul>
                                                    <li>
                                                        <strong>Duties:</strong>
                                                        @foreach (var item in Model.PersonDetail.Duties)
                                                        {
                                                            if (Model.PersonDetail.Duties.LastOrDefault() == item)
                                                            {
                                                                <span>@item</span>
                                                            }

                                                            else
                                                            {
                                                                <span>@item,</span>
                                                            }
                                                        }
                                                    </li>

                                                    <li>

                                                        <strong>Birth Date:</strong><span>@Model.PersonDetail.BirthDate?.ToString("dd.MM.yyyy")</span>

                                                    </li>

                                                </ul>
                                            </header>

                                        </div>
                                    </div>
                                    <p><strong>Biography:</strong> @Model.PersonDetail.Biography </p>

                                    <p><strong>Other Books:</strong></p>

                                    <div class="booksmedia-fullwidth">
                                        <ul style="display:flex; justify-content:space-between; flex-wrap:wrap">
                                            @foreach (var item in Model.PersonDetail.BookPeople)
                                            {
                                                <li>
                                                    <div class="book-list-icon yellow-icon"></div>
                                                    <figure>
                                                        <a href="/SiteBook/BookDetail/@item.BookID"><img src="/Admin/Coverimg/@item.Book.Imagepath" alt="Book" style="height:450px"></a>
                                                        <figcaption>
                                                            <header>

                                                                <h4><a href="">@item.Book.Name</a></h4>
                                                                <p>
                                                                    @foreach (var data in item.Book.BookPersons.Where(q => q.DutyID == 0))
                                                                    {
                                                                        <strong>Writer:</strong>@(data.Person.Name+ " "+data.Person.SurName) <br />
                                                                    }
                                                                </p>

                                                            </header>

                                                            @if (item.Book.Summary != null)
                                                            {
                                                                <p>@item.Book.Summary.Substring(0, 100)...</p>

                                                            }

                                                        </figcaption>
                                                    </figure>
                                                </li>
                                            }
                                       

                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </main>
        </div>
    </div>
</section>

<script>

    var subcategoryselect = $('#category');


    $('#catalog').change(function () {

        subcategoryselect.empty();
        var categoryId = $(this).val();

        if (categoryId == null) {
            subcategoryselect.empty();
            subcategoryselect.append($('<option></option>').val("").text('Select Sub Category'));
        }

        console.log(categoryId);

        $.ajax({
            type: 'POST',
            url: "/SiteHome/Getsubcategory",
            data: { catalog: categoryId },
            success: function (response) {

                subcategoryselect.append($('<option></option>').val("").text('Select Sub Category'));
                $.each(response, function (i, item) {
                    console.log(item.categoryName);
                    console.log(item.id);
                    subcategoryselect.append($('<option></option>').val(item.id).text(item.categoryName));
                });

            }

        });
    })

</script>
