@model BookStoreProject.Models.VM.UserLoginVM


<p class="form-row form-row-first input-required">
    <label>
        <span class="first-letter">EMail</span>
        <span class="second-letter">*</span>
    </label>
    @Html.TextBoxFor(q => q.register.UserEmail, new { @type = "email", @class = "form-control", @name = "Email" })

    @Html.ValidationMessageFor(q => q.register.UserEmail, "")

</p>
<p class="form-row input-required">
    <label>
        <span class="first-letter">Password</span>
        <span class="second-letter">*</span>
    </label>
    @Html.PasswordFor(q => q.register.UserPassword, new { @type = "password", @class = "form-control", @name = "Password" })
    @Html.ValidationMessageFor(q => q.register.UserPassword, "")

</p>
<p class="form-row input-required">
    <label>
        <span class="first-letter">Confirm Password</span>
        <span class="second-letter">*</span>
    </label>
    @Html.PasswordFor(q => q.register.ConfirmPassword, new { @type = "password", @class = "form-control", @name = "Password" })
    @Html.ValidationMessageFor(q => q.register.ConfirmPassword, "")

</p>
<div class="clear"></div>
<input type="submit" value="Signup" name="signup" class="button btn btn-default">
<div class="clear"></div>