
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Admin/Shared/_AdminLayout.cshtml";
}

@model BookStoreProject.Models.VM.AdminPanelVM

<!-- PAGE PLUGINS -->
<!-- jQuery Mapael -->
<script src="/Admin/plugins/jquery-mousewheel/jquery.mousewheel.js"></script>
<script src="/Admin/plugins/raphael/raphael.min.js"></script>
<script src="/Admin/plugins/jquery-mapael/jquery.mapael.min.js"></script>
<script src="/Admin/plugins/jquery-mapael/maps/usa_states.min.js"></script>
<!-- ChartJS -->
<script src="/Admin/plugins/chart.js/Chart.min.js"></script>

<!-- AdminLTE for demo purposes -->
<script src="/Admin/dist/js/demo.js"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="/Admin/dist/js/pages/dashboard2.js"></script>




<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Book Store</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>


    <!-- Main content -->




    <section class="content">
        <div class="container-fluid">
            <!-- Info boxes -->
            <div class="row">
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="info-box">
                        <span class="info-box-icon elevation-1" style="background-color: #18afa2; color:white"><i class="fas fa-book-open"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Books</span>
                            <span class="info-box-number">
                                @Model.Books.Count()
                            </span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- /.col -->
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="info-box mb-3">
                        <span class="info-box-icon elevation-1" style="background-color: #fedc56;color: white"><i class="fas fa-feather-alt"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Writers/Interpreters</span>
                            <span class="info-box-number"> @Model.People.Count()</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- /.col -->
                <!-- fix for small devices only -->
                <div class="clearfix hidden-md-up"></div>

                <div class="col-12 col-sm-6 col-md-3">
                    <div class="info-box mb-3">
                        <span class="info-box-icon elevation-1" style="background-color: orange;color: white"><i class="fas fa-users"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Users</span>
                            <span class="info-box-number"> @Model.Users.Count()</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- /.col -->
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="info-box mb-3">
                        <span class="info-box-icon elevation-1" style="background-color: #971c53;color: white"><i class="fas fa-clipboard-list"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Categories</span>
                            <span class="info-box-number"> @Model.Categories.Count()</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->

            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header" style="background-color: #18afa2">
                            <h3 class="card-title" style="color:white">Books</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table class="table table-bordered" style="text-align:center">

                                <thead>
                                    <tr>
                                        <th>Book Name</th>
                                        <th>Writer</th>
                                        <th>Category</th>
                                        <th>Publisher</th>
                                        <th>Publish Date</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var item in Model.Books.Take(5))
                                    {
                                        <tr>
                                            <td>@item.Name</td>

                                            <td>
                                                @foreach (var data1 in item.BookPersons.Where(q => q.IsDeleted == false))
                                                {

                                                    if (data1.DutyID == 0)
                                                    {
                                                        <span>@data1.Person.Name @data1.Person.SurName</span>
                                                    }

                                                }
                                            </td>
                                            <td>
                                                @foreach (var data in item.BookCategories.Where(q => q.IsDeleted == false))
                                                {
                                                    <span> @data.Category.CategoryName</span>

                                                }
                                            </td>

                                            <td>@item.Publisher</td>
                                            <td>@item.PublishDate</td>
                                        </tr>
                                    }
                                </tbody>

                            </table>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer clearfix">
                            <a class="btn btn-sm float-right" style="color: #18afa2"
                               role="button" href="/Book/">
                                <i class="fas fa-hand-point-right"></i>Show More
                            </a>

                        </div>
                    </div>
                    <!-- /.card -->
                </div>

                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header" style="background-color: #fedc56">
                            <h3 class="card-title" style="color:white">Writers / Interpreters</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table class="table table-bordered" style="text-align:center">

                                <thead>
                                    <tr>
                                        <th>Writer / Interpreter Name</th>
                                        <th>Birth Date</th>
                                        <th>Duty</th>
                                        <th>Books</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var item in Model.People.Take(5))
                                    {
                                        <tr>
                                            <td>@item.Name @item.SurName</td>
                                            <td>@item.BirthDate?.ToString("dd.MM.yyyy")</td>
                                            <td>
                                                @foreach (var data in item.Duties)
                                                {
                                                    <span>@data</span>

                                                }
                                            </td>
                                            <td>
                                                @foreach (var data1 in item.Books.Take(5))
                                                {
                                                    <span>@data1.Book.Name</span> <br>
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>

                            </table>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer clearfix">
                            <a class="btn btn-sm  float-right" style="color: #fedc56"
                               role="button" href="/Person/">
                                <i class="fas fa-hand-point-right"></i>Show More
                            </a>
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header" style="background-color:orange">
                            <h3 class="card-title" style="color:white">Users</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table class="table table-bordered" style="text-align:center">

                                <thead>
                                    <tr>
                                        <th>User</th>
                                        <th>User Name</th>
                                        <th>Email</th>
                                        <th>Birth Date</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var item in Model.Users.Take(5))
                                    {
                                        <tr>
                                            <td>@item.Name @item.SurName</td>
                                            <td>@item.UserName</td>
                                            <td>@item.Email</td>
                                            <td>@item.BirthDate?.ToString("dd.MM.yyyy")</td>
                                        </tr>
                                    }
                                </tbody>

                            </table>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer clearfix">
                            <a class="btn btn-sm float-right" style="color: orange"
                               role="button" href="/User/">
                                <i class="fas fa-hand-point-right"></i>Show More
                            </a>
                        </div>
                    </div>
                    <!-- /.card -->
                </div>

                <div class="col-md-6">
                    <div class="card card-yellow">
                        <div class="card-header" style="background-color: #971c53">
                            <h3 class="card-title" style="color:white">Categories</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table class="table table-bordered" style="text-align:center">

                                <thead>
                                    <tr>
                                        <th>Category Name</th>
                                        <th>Books</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var item in Model.Categories.Take(5))
                                    {
                                        <tr>
                                            <td>@item.CategoryName</td>
                                            <td>
                                                @foreach (var data in item.Books.Take(5))
                                                {
                                                    <span>@data.Book.Name</span> <br>
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>

                            </table>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer clearfix">
                            <a class="btn btn-sm  float-right" style="color: #971c53"
                               role="button" href="/Category/">
                                <i class="fas fa-hand-point-right"></i>Show More
                            </a>

                        </div>
                    </div>
                    <!-- /.card -->

                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div><!--/. container-fluid -->

    </section>
</div>
