
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Site/Shared/_SiteLayout.cshtml";
}

@model BookStoreProject.Models.VM.UserLoginVM
<!-- Start: Page Banner -->
<section class="page-banner services-banner" style="background-image: url(/Site/images/kitaplık.jpg)">
    <div class="container">
        <div class="banner-header">
            <h2>Login / Register</h2>
            <span class="underline center"></span>
            <p class="lead">Proin ac eros pellentesque dolor pharetra tempo.</p>
        </div>
        <div class="breadcrumb">
            <ul>
                <li><a href="/SiteHome/">Home</a></li>
                <li>Login / Register</li>
            </ul>
        </div>
    </div>
</section>
<!-- End: Page Banner -->
<!-- Start: Cart Section -->
<div id="content" class="site-content">
    <div id="primary" class="content-area">
        <main id="main" class="site-main">
            <div class="signin-main">
                <div class="container">
                    <div class="woocommerce">
                        <div class="woocommerce-login">
                            <div class="company-info signin-register">
                                <div class="col-md-5 col-md-offset-1 border-dark-left">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="company-detail bg-dark margin-left"  style="height:450px">
                                                <div class="signin-head">
                                                    <h2>Login</h2>
                                                    <span class="underline left"></span>
                                                </div>
                                                <p style="color:red">@ViewBag.error</p>
                                                <form action="/SiteLogin/" method="post">
                                                    <p class="form-row form-row-first input-required">
                                                        <label>
                                                            <span class="first-letter">EMail</span>
                                                            <span class="second-letter">*</span>
                                                        </label>
                                                        @Html.TextBoxFor(q => q.Login.EMail, new { @type = "email", @class = "form-control", @name = "Email" })
                                                        @Html.ValidationMessageFor(q => q.Login.EMail, "", new { @class = "second-letter" })

                                                    </p>
                                                    <p class="form-row form-row-last input-required">
                                                        <label>
                                                            <span class="first-letter">Password</span>
                                                            <span class="second-letter">*</span>
                                                        </label>
                                                        @Html.PasswordFor(q => q.Login.Password, new { @type = "password", @class = "form-control", @name = "Password" })
                                                        @Html.ValidationMessageFor(q => q.Login.Password, "", new { @class = "second-letter" })

                                                    </p>
                                                    <div class="clear"></div>
                                                    <div class="password-form-row">
                                                        <p class="form-row input-checkbox">
                                                            <input type="checkbox" value="forever" id="rememberme" name="rememberme">
                                                            <label class="inline" for="rememberme">Remember me</label>
                                                        </p>
                                                        <p class="lost_password">
                                                            <a href="#">Lost your Pin?</a>
                                                        </p>
                                                    </div>
                                                    <input type="submit" value="Login" name="login" class="button btn btn-default">
                                                    <div class="clear"></div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5 border-dark new-user">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="company-detail bg-light margin-right" style="height:450px">
                                                <div class="new-user-head">
                                                    <h2>Create New Account</h2>
                                                    <span class="underline left"></span>
                                                </div>
                                            <form action="/SiteUser/Add/" method="post">
                                                <p class="form-row form-row-first input-required">
                                                    <label>
                                                        <span class="first-letter">EMail</span>
                                                        <span class="second-letter">*</span>
                                                    </label>
                                                    @Html.TextBoxFor(q => q.register.Email, new { @type = "email", @class = "form-control", @name = "Email" })

                                                    @Html.ValidationMessageFor(q => q.register.Email, "")

                                                </p>
                                                <p class="form-row input-required">
                                                    <label>
                                                        <span class="first-letter">Password</span>
                                                        <span class="second-letter">*</span>
                                                    </label>
                                                    @Html.PasswordFor(q => q.register.Password, new { @type = "password", @class = "form-control", @name = "Password" })
                                                    @Html.ValidationMessageFor(q => q.register.Password, "")

                                                </p>
                                                <p class="form-row input-required">
                                                    <label>
                                                        <span class="first-letter">Confirm Password</span>
                                                        <span class="second-letter">*</span>
                                                    </label>
                                                    @Html.PasswordFor(q => q.register.ConfirmPassword, new { @type = "password", @class = "form-control", @name = "Password" })
                                                    @Html.ValidationMessageFor(q => q.register.ConfirmPassword, "")

                                                </p>
                                                <div class="clear"></div>
                                                <input type="submit" value="Signup" name="signup" class="button btn btn-default">
                                                <div class="clear"></div>
                                            </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<br/>
<br />
<br />
<br />
<br />
<br />
<!-- End: Cart Section -->
