
@{
    ViewData["Title"] = "BookDetail";
    Layout = "~/Views/Site/Shared/_SiteLayout.cshtml";
}

@model BookStoreProject.Models.VM.SiteBookVM
<!-- Start: Page Banner -->
<section class="page-banner services-banner" style="background-image: url(/Site/images/kitaplık.jpg)">
    <div class="container">
        <div class="banner-header">
            <h2>Books Listing</h2>
            <span class="underline center"></span>
            <p class="lead">Proin ac eros pellentesque dolor pharetra tempo.</p>
        </div>
        <div class="breadcrumb">
            <ul>
                <li><a href="/SiteHome/">Home</a></li>
                <li>Book Detail</li>
            </ul>
        </div>
    </div>
</section>
<!-- End: Page Banner -->
<!-- Start: Products Section -->
<section class="book-padding">
    <div id="content" class="site-content">
        <div id="primary" class="content-area">
            <main id="main" class="site-main">
                <div class="booksmedia-detail-main">
                    <div class="container-fluid">
                        <!-- Start: Search Section -->

                        @await Html.PartialAsync("Partial/Search")


                        <div class="row" style="padding: 0 55px 0 55px">

                            @await Html.PartialAsync("Partial/FilterTree")


                            <div class="col-md-9">
                                <div class="booksmedia-detail-box">
                                    <div class="single-book-box">
                                        <div class="post-thumbnail">
                                            <div class="book-list-icon yellow-icon"></div>

                                            <img alt="Book" src="/Admin/Coverimg/@Model.Bookdetail.Imagepath" style="height:550px;width:400px" />
                                        </div>
                                        <div class="post-detail">


                                            <header class="entry-header">
                                                <h2 class="entry-title">@Model.Bookdetail.Name</h2>
                                                <ul>
                                                    <li>
                                                        <strong>Author:</strong>
                                                        @foreach (var item in Model.Bookdetail.BookPersons.Where(q => q.DutyID == 0))
                                                        {

                                                            if (Model.Bookdetail.BookPersons.Where(q => q.DutyID == 0).LastOrDefault() == item)
                                                            {
                                                                <span>
                                                                    @(item.Person.Name + " " + item.Person.SurName)
                                                                </span>
                                                            }

                                                            else
                                                            {
                                                                <span>
                                                                    @(item.Person.Name + " " + item.Person.SurName + ",")
                                                                </span>

                                                            }

                                                        }
                                                    </li>
                                                    <li>
                                                        @foreach (var item in Model.Bookdetail.BookPersons.Where(q => q.DutyID == 1))
                                                        {
                                                            <strong>Interpreter:</strong><span> @(item.Person.Name + " " + item.Person.SurName) </span>
                                                        }
                                                    </li>
                                                    <li><strong>Publisher:</strong> @Model.Bookdetail.Publisher</li>



                                                    <li><strong>Edition:</strong> @Model.Bookdetail.Edition</li>

                                                    <li id="stars">

                                                        <strong>Rating:</strong>


                                                        @if (Model.Bookdetail.AvrPoint == 0)
                                                        {
                                                            <i class="fa fa-star-o" id="@Model.Bookdetail.ID" value="1"></i>
                                                            <i class="fa fa-star-o" id="@Model.Bookdetail.ID" value="2"></i>
                                                            <i class="fa fa-star-o" id="@Model.Bookdetail.ID" value="3"></i>
                                                            <i class="fa fa-star-o" id="@Model.Bookdetail.ID" value="4"></i>
                                                            <i class="fa fa-star-o" id="@Model.Bookdetail.ID" value="5"></i>

                                                        <li><strong>Your Point:</strong>-</li>

                                                    }

                                                    else
                                                    {

                                                        @for (int i = 1; i <= 5; i++)
                                                        {
                                                            if (i <= Model.Bookdetail.AvrPoint)
                                                            {
                                                                <i class="fa fa-star" id="@Model.Bookdetail.ID" value="@i"></i>

                                                            }

                                                            else
                                                            {
                                                                <i class="fa fa-star-o" id="@Model.Bookdetail.ID" value="@i"></i>

                                                            }
                                                        }
                                                        <span style="color: #ff7236;">
                                                            @Model.Bookdetail.AvrPoint/5 -
                                                            <strong style="color: #ff7236;">
                                                                @Model.Bookdetail.UserPoints.GroupBy(q => q.UserID).Count()
                                                            </strong> People
                                                        </span>

                                                        @if (@Model.Bookdetail.UserPoints.LastOrDefault(q => q.UserID == Convert.ToInt32(TempData["UserID"])) != null)
                                                        {
                                                            <li>
                                                                <strong>Your Point:</strong>@Model.Bookdetail.UserPoints.LastOrDefault(q => q.UserID == Convert.ToInt32(TempData["UserID"])).Point
                                                            </li>
                                                        }

                                                        else
                                                        {
                                                            <li><strong>Your Point:</strong>-</li>

                                                        }

                                                    }

                                                    </ul>
                                                </header>
                                            </div>
                                        </div>
                                        <p><strong>Summary:</strong> @Model.Bookdetail.Summary</p>
                                        <ul class="detail-page-listing">

                                            <li><strong>Name:</strong> @Model.Bookdetail.Name</li>
                                            <li><strong>PublishDate:</strong> @Model.Bookdetail.PublishDate</li>
                                            <li><strong>Length:</strong> 518 pages.</li>
                                            <li>
                                                <strong>Top Category :</strong>
                                                @foreach (var item in Model.Bookdetail.BookCategories.Where(q => q.Category.TopCategory == 0))
                                                {

                                                    if (Model.Bookdetail.BookCategories.Where(q => q.Category.TopCategory == 0).LastOrDefault() == item)
                                                    {
                                                        @item.Category.CategoryName

                                                    }

                                                    else
                                                    {
                                                        @(item.Category.CategoryName + ",");
                                                    }
                                                }
                                            </li>
                                            <li>
                                                <strong>Sub Category :</strong>
                                                @foreach (var item in Model.Bookdetail.BookCategories.Where(q => q.Category.TopCategory != 0))
                                                {
                                                    if (Model.Bookdetail.BookCategories.Where(q => q.Category.TopCategory != 0).LastOrDefault() == item)
                                                    {
                                                        @item.Category.CategoryName

                                                    }

                                                    else
                                                    {
                                                        @(item.Category.CategoryName + ",");
                                                    }

                                                }
                                            </li>


                                        </ul>
                                        <div class="table-tabs" id="responsiveTabs">
                                            <ul class="nav nav-tabs" style="margin-bottom:-50px">

                                                <li><b class="arrow-up"></b><a data-toggle="tab" href="#sectionB">User Comments (@Model.Bookdetail.Comments.Count())</a></li>

                                            </ul>

                                            <div class="comments-area" id="comments">
                                                <div class="comment-bg">
                                                    <ol class="comment-list">
                                                        <li class="comment even thread-even depth-1 parent">

                                                            @if (Model.Bookdetail.Comments.Count == 0)
                                                            {
                                                                <span>No comments yet!</span>
                                                            }

                                                            @foreach (var item in Model.Bookdetail.Comments)
                                                            {
                                                                TimeSpan ts = DateTime.Now - item.AddDate;

                                                                <div class="comment-body">
                                                                    <div class="comment-author vcard">
                                                                        <img class="avatar avatar-32 photo avatar-default" src="/Site/images/userprofilepic.jpg" alt="Comment Author">
                                                                        <b class="fn">
                                                                            <a class="url" rel="external nofollow" href="#">@item.User.Name @item.User.SurName</a>
                                                                        </b>
                                                                    </div>
                                                                    <footer class="comment-meta">
                                                                        <div class="left-arrow"></div>
                                                                        <div class="reply">
                                                                            <a href="#" class="comment-reply-link">
                                                                                <i class="fa fa-reply"></i> Reply
                                                                            </a>
                                                                        </div>

                                                                        <div class="reply" style="margin-right:5px">
                                                                            @if (Convert.ToInt32(TempData["UserID"]) == item.User.ID)
                                                                            {
                                                                                <a href="/SiteBook/EditComment/@item.ID" class="comment-reply-link">
                                                                                    <i class="fa fa-edit"></i> Edit
                                                                                </a>

                                                                            }

                                                                        </div>
                                                                        <div class="reply" style="margin-right:5px">
                                                                            @if (Convert.ToInt32(TempData["UserID"]) == item.User.ID)
                                                                            {



                                                                                <a id="@item.ID" class="comment-reply-link commentdelete" style="cursor:pointer">
                                                                                    <i class="fa fa-trash"></i> Delete
                                                                                </a>
                                                                            }

                                                                        </div>
                                                                        <div class="comment-metadata">

                                                                            <time datetime="2016-01-17">

                                                                                <b>@item.AddDate.ToString("dd.MM.yyyy")/ </b>
                                                                                @if (ts.Hours > 24)
                                                                                {
                                                                                    <span>
                                                                                        @ts.Days.ToString() Days Ago
                                                                                    </span>
                                                                                }

                                                                                <span>
                                                                                    @ts.Hours.ToString() Hours @ts.Minutes.ToString()  Minutes Ago
                                                                                </span>


                                                                            </time>

                                                                        </div>
                                                                        <div class="comment-content">
                                                                            <h5>@item.Header</h5>
                                                                            <p>
                                                                                @item.Content
                                                                            </p>
                                                                        </div>
                                                                    </footer>
                                                                </div>

                                                            }



                                                            @*<ol class="children">
                                            <li class="comment odd alt depth-2">
                                                <div class="comment-body">
                                                    <div class="comment-author vcard">
                                                        <img class="avatar photo" src="images/blog/peter.jpg" alt="Comment Avatar">
                                                        <b class="fn">
                                                            <a class="url" rel="external nofollow" href="#">Peter</a>
                                                        </b>
                                                    </div>
                                                    <footer class="comment-meta">
                                                        <div class="left-arrow"></div>
                                                        <div class="reply">
                                                            <a href="#" class="comment-reply-link">
                                                                <i class="fa fa-reply"></i> Reply
                                                            </a>
                                                        </div>
                                                        <div class="comment-metadata">
                                                            <a href="#">
                                                                <time datetime="2016-01-17">
                                                                    <b>Mar 17, 2016 / </b>  45 Minutes Ago
                                                                </time>
                                                            </a>
                                                        </div>
                                                        <div class="comment-content">
                                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                                                        </div>
                                                    </footer>
                                                </div>
                                            </li>
                                        </ol>*@
                                                        </li>
                                                    </ol>
                                                </div>




                                                <div class="comment-respond" id="respond">
                                                    <h4 class="comment-reply-title" id="reply-title">Write your comment:</h4>
                                                    <span class="underline left"></span>

                                                    @if (Model.Comment != null)
                                                    {
                                                        <form class="comment-form" id="commentform" method="post" action="/SiteBook/EditComment/">
                                                            <div class="row">

                                                                <p class="comment-form-subject input-required">

                                                                    @Html.TextBoxFor(q => q.Comment.Header, new { @placeholder = "Header" })
                                                                </p>

                                                                <p class="comment-form-comment">
                                                                    @Html.TextAreaFor(q => q.Comment.Content, new { @placeholder = "Write Comment" })
                                                                </p>

                                                            </div>
                                                            <div class="clearfix"></div>
                                                            <p class="form-submit">
                                                                @Html.HiddenFor(q => q.Comment.ID)
                                                                <input value="submit" class="submit" id="submit" name="bookid" type="submit">
                                                            </p>

                                                        </form>
                                                    }
                                                    else
                                                    {
                                                        <form class="comment-form" id="commentform" method="post" action="/SiteBook/AddComment/">
                                                            <div class="row">

                                                                <p class="comment-form-subject input-required">
                                                                    <label>
                                                                        <span class="first-letter">Header</span>
                                                                    </label>
                                                                    @Html.TextBoxFor(q => q.Comment.Header)
                                                                </p>

                                                                <p class="comment-form-comment">
                                                                    @Html.TextAreaFor(q => q.Comment.Content, new { @placeholder = "Write Comment" })
                                                                </p>

                                                            </div>
                                                            <div class="clearfix"></div>
                                                            <p class="form-submit">
                                                                @Html.HiddenFor(q => q.Bookdetail.ID)
                                                                <input value="submit" class="submit" id="submit" name="bookid" type="submit">
                                                            </p>

                                                        </form>
                                                    }

                                                </div>
                                            </div>

                                        </div>



                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </section>
    <!-- End: Products Section -->

    <script>


        var subcategoryselect = $('#category');


        $('#catalog').change(function () {

            subcategoryselect.empty();
            var categoryId = $(this).val();

            if (categoryId == null) {
                subcategoryselect.empty();
                subcategoryselect.append($('<option></option>').val("").text('Select Sub Category'));
            }

            console.log(categoryId);

            $.ajax({
                type: 'POST',
                url: "/SiteHome/Getsubcategory",
                data: { catalog: categoryId },
                success: function (response) {

                    subcategoryselect.append($('<option></option>').val("").text('Select Sub Category'));
                    $.each(response, function (i, item) {
                        console.log(item.categoryName);
                        console.log(item.id);
                        subcategoryselect.append($('<option></option>').val(item.id).text(item.categoryName));
                    });

                }

            });
        })






    $(".fa").click(function () {
        var point = $(this).attr("value");
        var bookid = $(this).attr("id");

        console.log(point);

        $.ajax({
            url: "/SiteBook/AddPoint/",
            type: "post",
            data: { bookid: bookid, point: point },
            success: function (average) {
                console.log(average);

                var modelbook = @Model.Bookdetail.ID;
                window.location.href = "/sitebook/bookdetail/" + modelbook;

            },

        })
    })



            $(".fa").mouseover(function () {
        $(this).removeClass('fa-star-o').addClass('fa-star');
        $(this).prevAll(".fa").removeClass('fa-star-o').addClass('fa-star');

    })

       

        $(".fa").mouseout(function () {
         
        $(this).removeClass('fa-star').addClass('fa-star-o');
        $(this).prevAll(".fa").removeClass('fa-star').addClass('fa-star-o');

    })


        $(document).on("click", ".commentdelete", function () {
            let id = $(this).attr("id");
            $.ajax({
                url: "/SiteBook/DeleteComment/",
                type: "POST",
                data: { id: id },
                success: function (msg) {
                    console.log(msg);
                    //$("#" + id).fadeOut();
                    var modelbook = @Model.Bookdetail.ID;
                    window.location.href = "/SiteBook/BookDetail/" + modelbook;
                        alert("Deleted successfully!!!");
                },
                error: function (err) {
                    alert("Failed!");
                }
            })
        })


    </script>
