
@{
    ViewData["Title"] = "BookDetail";
    Layout = "~/Views/Site/Shared/_SiteLayout.cshtml";
}

@model BookStoreProject.Models.VM.BookVM
<!-- Start: Page Banner -->
<section class="page-banner services-banner" style="background-image: url(/Site/images/kitaplık.jpg)">
    <div class="container">
        <div class="banner-header">
            <h2>Books Listing</h2>
            <span class="underline center"></span>
            <p class="lead">Proin ac eros pellentesque dolor pharetra tempo.</p>
        </div>
        <div class="breadcrumb">
            <ul>
                <li><a href="/SiteHome/">Home</a></li>
                <li>Book Detail</li>
            </ul>
        </div>
    </div>
</section>
<!-- End: Page Banner -->
<!-- Start: Products Section -->
<div id="content" class="site-content">
    <div id="primary" class="content-area">
        <main id="main" class="site-main">
            <div class="booksmedia-detail-main">
                <div class="container-fluid">
                    <!-- Start: Search Section -->

                    <div class="row">

                        <section class="search-filters" style="padding:0 70px 0 70px">

                            <div class="filter-box">

                                <h3>What are you looking for at the library?</h3>

                                <form action="" method="get">

                                    <div class="col-md-4 col-sm-6">
                                        <div class="form-group">
                                            <label class="sr-only" for="keywords">Search by Keyword</label>
                                            <input class="form-control" placeholder="Search by Keyword" id="keywords" name="keywords" type="text">
                                        </div>
                                    </div>

                                    <div class="col-md-3 col-sm-6">
                                        <div class="form-group">
                                            <select name="catalog" id="catalog" class="form-control" placeholder="Select Category">
                                                @*<option>Search the Catalog</option>*@
                                                @*@foreach (var item in Model.Topcategories.Where(q => q.TopCategory == 0))
                                                    {
                                                        <option value="@item.ID">@item.CategoryName</option>

                                                    }*@
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-3 col-sm-6">
                                        <div class="form-group">
                                            <select name="category" id="category" class="form-control">

                                                @*@foreach (var item in Model.Topcategories.Where(q=>q.ID==))
                                                    {
                                                        <option>All Categories</option>
                                                    }*@
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-2 col-sm-6">
                                        <div class="form-group">
                                            <input class="form-control" type="submit" value="Search">
                                        </div>
                                    </div>

                                </form>
                            </div>

                            <div class="clear"></div>

                        </section>

                    </div>


                    <!-- End: Search Section -->
                    <div class="row" style="padding: 0 55px 100px 55px;margin: 0 -15px 0 -15px;">

                        <div class="col-md-3">

                            <aside id="secondary" class="sidebar widget-area" data-accordion-group>
                                <div class="widget widget_related_search open" data-accordion>
                                    <h4 class="widget-title" data-control>Related Searches</h4>
                                    <div data-content>
                                        <div data-accordion>
                                            <h5 class="widget-sub-title" data-control>Subject</h5>
                                            <div class="widget_categories" data-content>
                                                <ul>
                                                    <li><a href="#">Love stories <span>(18)</span></a></li>
                                                    <li><a href="#">Texas <span>(04)</span></a></li>
                                                    <li><a href="#">Rich people <span>(03)</span></a></li>
                                                    <li><a href="#">Humorous stories <span>(02)</span></a></li>
                                                    <li><a href="#">Widows <span>(02)</span></a></li>
                                                    <li><a href="#">Women <span>(11)</span></a></li>
                                                    <li><a href="#">Babysitters <span>(25)</span></a></li>
                                                    <li><a href="#">Law firms <span>(09)</span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div data-accordion>
                                            <h5 class="widget-sub-title" data-control>Writers</h5>
                                            <div class="widget_categories" data-content>
                                                <ul>
                                                    @foreach (var item in Model.BookPersons)
                                                    {
                                                    <li><a href="#">@item.Person.Name @item.Person.SurName </a></li>
                                                    }
                                                  

                                                </ul>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div data-accordion>
                                            <h5 class="widget-sub-title" data-control>Series</h5>
                                            <div class="widget_categories" data-content>
                                                <ul>
                                                    <li><a href="#">Love stories <span>(18)</span></a></li>
                                                    <li><a href="#">Texas <span>(04)</span></a></li>
                                                    <li><a href="#">Rich people <span>(03)</span></a></li>
                                                    <li><a href="#">Humorous stories <span>(02)</span></a></li>
                                                    <li><a href="#">Widows <span>(02)</span></a></li>
                                                    <li><a href="#">Women <span>(11)</span></a></li>
                                                    <li><a href="#">Babysitters <span>(25)</span></a></li>
                                                    <li><a href="#">Law firms <span>(09)</span></a></li>
                                                </ul>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div data-accordion>
                                            <h5 class="widget-sub-title" data-control>Other Searches</h5>
                                            <div class="widget_categories" data-content>
                                                <ul>
                                                    <li><a href="#">Love stories <span>(18)</span></a></li>
                                                    <li><a href="#">Texas <span>(04)</span></a></li>
                                                    <li><a href="#">Rich people <span>(03)</span></a></li>
                                                    <li><a href="#">Humorous stories <span>(02)</span></a></li>
                                                    <li><a href="#">Widows <span>(02)</span></a></li>
                                                    <li><a href="#">Women <span>(11)</span></a></li>
                                                    <li><a href="#">Babysitters <span>(25)</span></a></li>
                                                    <li><a href="#">Law firms <span>(09)</span></a></li>
                                                </ul>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="widget widget_narrow_search" data-accordion>
                                    <h4 class="widget-title" data-control>Narrow your search</h4>
                                    <div data-content>
                                        <div data-accordion>
                                            <h5 class="widget-sub-title" data-control>Type of Material</h5>
                                            <div class="widget_material" data-content>
                                                <form action="#">
                                                    <label><input type="checkbox" name="material" value="books"> Books</label>
                                                    <label><input type="checkbox" name="material" value="electronic" checked> Electronic Resources</label>
                                                    <label><input type="checkbox" name="material" value="ebooks"> ebooks</label>
                                                    <label><input type="checkbox" name="material" value="soundrecording" checked> Sound Recording</label>
                                                    <label><input type="checkbox" name="material" value="largeprint"> Large Print</label>
                                                    <label><input type="checkbox" name="material" value="audioebooks" checked> Audio eBooks</label>
                                                </form>
                                            </div>
                                        </div>
                                        <div data-accordion>
                                            <h5 class="widget-sub-title" data-control>Publishing Date </h5>
                                            <div class="widget widget_material" data-content>
                                                <form action="#">
                                                    <label><input type="checkbox" name="material" value="books"> Books</label>
                                                    <label><input type="checkbox" name="material" value="electronic" checked> Electronic Resources</label>
                                                    <label><input type="checkbox" name="material" value="ebooks"> ebooks</label>
                                                    <label><input type="checkbox" name="material" value="soundrecording" checked> Sound Recording</label>
                                                    <label><input type="checkbox" name="material" value="largeprint"> Large Print</label>
                                                    <label><input type="checkbox" name="material" value="audioebooks" checked> Audio eBooks</label>
                                                </form>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div data-accordion>
                                            <h5 class="widget-sub-title" data-control>Popularity </h5>
                                            <div class="widget widget_material" data-content>
                                                <form action="#">
                                                    <label><input type="checkbox" name="material" value="books"> Books</label>
                                                    <label><input type="checkbox" name="material" value="electronic" checked> Electronic Resources</label>
                                                    <label><input type="checkbox" name="material" value="ebooks"> ebooks</label>
                                                    <label><input type="checkbox" name="material" value="soundrecording" checked> Sound Recording</label>
                                                    <label><input type="checkbox" name="material" value="largeprint"> Large Print</label>
                                                    <label><input type="checkbox" name="material" value="audioebooks" checked> Audio eBooks</label>
                                                </form>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div data-accordion>
                                            <h5 class="widget-sub-title" data-control>Language </h5>
                                            <div class="widget widget_material" data-content>
                                                <form action="#">
                                                    <label><input type="checkbox" name="material" value="books"> Books</label>
                                                    <label><input type="checkbox" name="material" value="electronic" checked> Electronic Resources</label>
                                                    <label><input type="checkbox" name="material" value="ebooks"> ebooks</label>
                                                    <label><input type="checkbox" name="material" value="soundrecording" checked> Sound Recording</label>
                                                    <label><input type="checkbox" name="material" value="largeprint"> Large Print</label>
                                                    <label><input type="checkbox" name="material" value="audioebooks" checked> Audio eBooks</label>
                                                </form>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="widget widget_recent_releases">
                                    <h4 class="widget-title">New Releases</h4>
                                    <ul>
                                        <li><a href="#">Books</a></li>
                                        <li><a href="#">eBooks</a></li>
                                        <li><a href="#">DVDS</a></li>
                                        <li><a href="#">Magazines</a></li>
                                        <li><a href="#">Audio</a></li>
                                        <li><a href="#">eAudio</a></li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>

                            </aside>
                        </div>


                        <div class="col-md-9">
                            <div class="booksmedia-detail-box">
                                <div class="single-book-box">
                                    <div class="post-thumbnail">
                                        <div class="book-list-icon yellow-icon"></div>

                                        <img alt="Book" src="/Admin/Coverimg/@Model.Imagepath" style="height:550px;width:400px" />
                                    </div>
                                    <div class="post-detail">


                                        <header class="entry-header">
                                            <h2 class="entry-title">@Model.Name</h2>
                                            <ul>
                                                <li>
                                                    @foreach (var item in Model.BookPersons.Where(q => q.DutyID == 0))
                                                    {
                                                        <strong>Author:</strong><span>@(item.Person.Name + " " + item.Person.SurName)</span>
                                                    }
                                                </li>
                                                <li>
                                                    @foreach (var item in Model.BookPersons.Where(q => q.DutyID == 1))
                                                    {
                                                        <strong>Interpreter:</strong><span>@(item.Person.Name + " " + item.Person.SurName) </span>
                                                    }
                                                </li>
                                                <li><strong>Publisher:</strong>@Model.Publisher</li>



                                                <li><strong>Edition:</strong>@Model.Edition</li>

                                                <li id="stars">

                                                    <strong>Rating:</strong>


                                                    @if (Model.AvrPoint == 0)
                                                    {
                                                        <i class="fa fa-star-o" id="@Model.BookID" value="1"></i>
                                                        <i class="fa fa-star-o" id="@Model.BookID" value="2"></i>
                                                        <i class="fa fa-star-o" id="@Model.BookID" value="3"></i>
                                                        <i class="fa fa-star-o" id="@Model.BookID" value="4"></i>
                                                        <i class="fa fa-star-o" id="@Model.BookID" value="5"></i>

                                                    <li><strong>Your Point:</strong>-</li>

                                                }

                                                else
                                                {

                                                    @for (int i = 1; i <= 5; i++)
                                                    {
                                                        if (i <= Model.AvrPoint)
                                                        {
                                                            <i class="fa fa-star" id="@Model.BookID" value="@i"></i>

                                                        }

                                                        else
                                                        {
                                                            <i class="fa fa-star-o" id="@Model.BookID" value="@i"></i>

                                                        }
                                                    }
                                                    <span style="color: #ff7236;">
                                                        @Model.AvrPoint/5 -
                                                        <strong style="color: #ff7236;">
                                                            @Model.UserPoints.GroupBy(q => q.UserID).Count()
                                                        </strong> People
                                                    </span>

                                                    @if (@Model.UserPoints.LastOrDefault(q => q.UserID == Convert.ToInt32(TempData["UserID"])) != null)
                                                    {
                                                        <li>
                                                            <strong>Your Point:</strong>@Model.UserPoints.LastOrDefault(q => q.UserID == Convert.ToInt32(TempData["UserID"])).Point
                                                        </li>
                                                    }

                                                    else
                                                    {
                                                        <li><strong>Your Point:</strong>-</li>

                                                    }

                                                }




                                                </ul>
                                            </header>
                                        </div>
                                    </div>
                                <p>
                                    <strong>Summary:</strong> 

                                    @Model.Summary
                                </p>
                                    <ul class="detail-page-listing">

                                        <li><strong>Name:</strong>@Model.Name</li>
                                        <li><strong>PublishDate:</strong>@Model.PublishDate</li>
                                        <li><strong>Length:</strong> 518 pages.</li>
                                        <li>
                                            <strong>Top Category :</strong>
                                            @foreach (var item in Model.BookCategories.Where(q => q.Category.TopCategory == 0))
                                            {
                                                @item.Category.CategoryName
                                            }
                                        </li>
                                        <li>
                                            <strong>Sub Category :</strong>
                                            @foreach (var item in Model.BookCategories.Where(q => q.Category.TopCategory != 0))
                                            {
                                                @item.Category.CategoryName

                                            }
                                        </li>


                                    </ul>
                                    <div class="table-tabs" id="responsiveTabs">
                                        <ul class="nav nav-tabs" style="margin-bottom:-50px">

                                            <li><b class="arrow-up"></b><a data-toggle="tab" href="#sectionB">User Comments (@Model.Comments.Count())</a></li>

                                        </ul>

                                        <div class="comments-area" id="comments">
                                            <div class="comment-bg">
                                                <ol class="comment-list">
                                                    <li class="comment even thread-even depth-1 parent">

                                                        @if (Model.Comments.Count == 0)
                                                        {
                                                            <span>No comments yet!</span>
                                                        }

                                                        @foreach (var item in Model.Comments)
                                                        {
                                                            TimeSpan ts = DateTime.Now - item.AddDate;

                                                            <div class="comment-body">
                                                                <div class="comment-author vcard">
                                                                    <img class="avatar avatar-32 photo avatar-default" src="/Site/images/userprofilepic.jpg" alt="Comment Author">
                                                                    <b class="fn">
                                                                        <a class="url" rel="external nofollow" href="#">@item.User.Name @item.User.SurName</a>
                                                                    </b>
                                                                </div>
                                                                <footer class="comment-meta">
                                                                    <div class="left-arrow"></div>
                                                                    <div class="reply">
                                                                        <a href="#" class="comment-reply-link">
                                                                            <i class="fa fa-reply"></i> Reply
                                                                        </a>
                                                                    </div>

                                                                    <div class="reply" style="margin-right:5px">
                                                                        @if (Convert.ToInt32(TempData["UserID"]) == item.User.ID)
                                                                        {
                                                                            <a href="/SiteBook/EditComment/@item.ID" class="comment-reply-link">
                                                                                <i class="fa fa-edit"></i> Edit
                                                                            </a>

                                                                        }

                                                                    </div>
                                                                    <div class="reply" style="margin-right:5px">
                                                                        @if (Convert.ToInt32(TempData["UserID"]) == item.User.ID)
                                                                        {



                                                                            <a id="@item.ID" class="comment-reply-link commentdelete">
                                                                                <i class="fa fa-trash"></i> Delete
                                                                            </a>
                                                                        }

                                                                    </div>
                                                                    <div class="comment-metadata">

                                                                        <time datetime="2016-01-17">

                                                                            <b>@item.AddDate.ToString("dd.MM.yyyy")/ </b>
                                                                            @if (ts.Hours > 24)
                                                                            {
                                                                                <span>
                                                                                    @ts.Days.ToString() Days Ago
                                                                                </span>
                                                                            }

                                                                            <span>
                                                                                @ts.Hours.ToString() Hours @ts.Minutes.ToString()  Minutes Ago
                                                                            </span>


                                                                        </time>

                                                                    </div>
                                                                    <div class="comment-content">
                                                                        <h5>@item.Header</h5>
                                                                        <p>
                                                                            @item.Content
                                                                        </p>
                                                                    </div>
                                                                </footer>
                                                            </div>

                                                        }



                                                        @*<ol class="children">
                                                                <li class="comment odd alt depth-2">
                                                                    <div class="comment-body">
                                                                        <div class="comment-author vcard">
                                                                            <img class="avatar photo" src="images/blog/peter.jpg" alt="Comment Avatar">
                                                                            <b class="fn">
                                                                                <a class="url" rel="external nofollow" href="#">Peter</a>
                                                                            </b>
                                                                        </div>
                                                                        <footer class="comment-meta">
                                                                            <div class="left-arrow"></div>
                                                                            <div class="reply">
                                                                                <a href="#" class="comment-reply-link">
                                                                                    <i class="fa fa-reply"></i> Reply
                                                                                </a>
                                                                            </div>
                                                                            <div class="comment-metadata">
                                                                                <a href="#">
                                                                                    <time datetime="2016-01-17">
                                                                                        <b>Mar 17, 2016 / </b>  45 Minutes Ago
                                                                                    </time>
                                                                                </a>
                                                                            </div>
                                                                            <div class="comment-content">
                                                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                                                                            </div>
                                                                        </footer>
                                                                    </div>
                                                                </li>
                                                            </ol>*@
                                                    </li>
                                                </ol>
                                            </div>




                                            <div class="comment-respond" id="respond">
                                                <h4 class="comment-reply-title" id="reply-title">Write your comment:</h4>
                                                <span class="underline left"></span>
                                                <form class="comment-form" id="commentform" method="post" action="/SiteBook/AddComment/">
                                                    <div class="row">

                                                        <p class="comment-form-subject input-required">
                                                            <label>
                                                                <span class="first-letter">Header</span>
                                                            </label>
                                                            <input name="Header" id="subject" type="text">
                                                        </p>
                                                        <p class="comment-form-comment">
                                                            <textarea name="Content" id="comment" placeholder="Write Comment"></textarea>
                                                        </p>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                    <p class="form-submit">
                                                        @Html.HiddenFor(q => q.BookID)
                                                        <input value="submit" class="submit" id="submit" name="bookid" type="submit">
                                                    </p>

                                                </form>
                                            </div>
                                        </div>

                                    </div>



                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <!-- End: Products Section -->

    <script>


    $(".fa").click(function () {
        var point = $(this).attr("value");
        var bookid = $(this).attr("id");

        console.log(point);

        $.ajax({
            url: "/SiteBook/AddPoint/",
            type: "post",
            data: { bookid: bookid, point: point },
            success: function (average) {
                console.log(average);
                //for (var i = 5; i >= 1; i--) {

                //    if (i <= average) {
                //        $(this).removeClass('fa-star-o').addClass('fa-star');
                //    }

                //    else {
                //        $(this).nextAll(".fa").removeClass('fa-star-o').addClass('fa-star');

                //    }
                //}

                var modelbook = @Model.BookID;
                window.location.href = "/sitebook/bookdetail/" + modelbook;

            },

        })
    })



            $(".fa").mouseover(function () {
        $(this).removeClass('fa-star-o').addClass('fa-star');
        $(this).prevAll(".fa").removeClass('fa-star-o').addClass('fa-star');

    })

        let bookstars = 0;
        $("#stars > i").each(function(key,item){

            if ($(item).attr("class") == "fa fa-star") {
                bookstars++;
            }
        })


        $(".fa").mouseleave(function () {
            //kaç adet dolu yıldız olduğunu bulalım. Daha sonra o yıldız kadar fa class ını ayarlayalım. id si starts olan li nin içerisinde fa-start olan kaç eleman var?

            $("#stars > i").each(function (key, item) {

                if (key < bookstars) {
                    console.log($(item));
                    $(item).attr("class", "fa fa-star");                   
                }

            })

        //$(this).removeClass('fa-star-o').addClass('fa-star');
        //$(this).prevAll(".fa").removeClass('fa-star').addClass('fa-star-o');

    })







        $(document).on("click", ".commentdelete", function () {
            let id = $(this).attr("id");
            $.ajax({
                url: "/SiteBook/DeleteComment/",
                type: "POST",
                data: { id: id },
                success: function (msg) {
                    console.log(msg);
                    //$("#" + id).fadeOut();
                    var modelbook = @Model.BookID;
                    window.location.href = "/SiteBook/BookDetail/" + modelbook;
                        alert("Deleted successfully!!!");
                },
                error: function (err) {
                    alert("Failed!");
                }
            })
        })





    </script>
