
@{
    ViewData["Title"] = "EditComment";
    Layout = "~/Views/Site/Shared/_SiteLayout.cshtml";
}

@model BookStoreProject.Models.VM.CommentVM

<section class="page-banner services-banner" style="background-image: url(/Site/images/kitaplık.jpg)">
    <div class="container">
        <div class="banner-header">
            <h2>Books Listing</h2>
            <span class="underline center"></span>
            <p class="lead">Proin ac eros pellentesque dolor pharetra tempo.</p>
        </div>
        <div class="breadcrumb">
            <ul>
                <li><a href="/SiteHome/">Home</a></li>
                <li>Book Detail</li>
            </ul>
        </div>
    </div>
</section>

<div id="content" class="site-content">
    <div id="primary" class="content-area">
        <main id="main" class="site-main">
            <div class="booksmedia-detail-main">
                <div class="container-fluid">
                    <!-- Start: Search Section -->
                    <!-- End: Search Section -->
                    <div class="row" style="padding: 0 55px 100px 55px;margin: 0 -15px 0 -15px;">

                        <div class="col-md-12">
                            <div class="booksmedia-detail-box">


                                <div class="table-tabs" id="responsiveTabs">
                               

                                    <div class="comments-area" id="comments">


                                        <div class="comment-respond" id="respond">
                                            <h4 class="comment-reply-title" id="reply-title">Write your comment:</h4>
                                            <span class="underline left"></span>
                                            <form class="comment-form" id="commentform" method="post" action="/SiteBook/EditComment/">
                                                <div class="row">
                                                    <div class="form-group">
                                                        @Html.LabelFor(q => q.Header, "Header")

                                                    </div>
                                                    <div class="form-group">

                                                        @Html.TextBoxFor(q => q.Header, new { @type = "text", @class = "form-control", @name = "Header", @placeholder = "Header" })
                                                    </div>
                                                    <div class="form-group">
                                                        @Html.LabelFor(q => q.Content, "Content")

                                                    </div>
                                                    <div class="form-group">

                                                        @Html.TextAreaFor(q => q.Content, new { @type = "text", @class = "form-control", @name = "Content", @placeholder = "Write Comment" })
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>
                                                <p class="form-submit">
                                                    @Html.HiddenFor(q => q.BookID)
                                                    @Html.HiddenFor(q=>q.CommentID)
                                                    <input value="submit" class="submit" id="submit" name="bookid" type="submit">
                                                </p>

                                            </form>
                                        </div>
                                    </div>

                                </div>


                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </main>
    </div>
</div>


