
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Site/Shared/_SiteLayout.cshtml";
}

@model BookStoreProject.Models.VM.SiteBookVM
    <!-- Start: Page Banner -->
<section class="page-banner services-banner" style="background-image: url(/Site/images/kitaplık.jpg)">

    <div class="container">

        <div class="banner-header">

            <h2> Books Listing </h2>

            <span class="underline center"></span>

            <p class="lead"> Proin ac eros pellentesque dolor pharetra tempo.</p>

        </div>

        <div class="breadcrumb">

            <ul>
                <li><a href="/SiteHome/"> Home </a></li>

                <li> Books </li>

            </ul>

        </div>

    </div>

</section>

<!--End: Page Banner -->
<div id="content" class="site-content">
    <div id="primary" class="content-area">
        <main id="main" class="site-main">
            <div class="books-full-width">
                <div class="container-fluid">

                    <div class="row">

                        <section class="search-filters" style="padding:0 70px 0 70px">

                            <div class="filter-box">

                                <h3>What are you looking for at the library?</h3>

                                <form action="" method="get">

                                    <div class="col-md-4 col-sm-6">
                                        <div class="form-group">
                                            <label class="sr-only" for="keywords">Search by Keyword</label>
                                            <input class="form-control" placeholder="Search by Keyword" id="keywords" name="keywords" type="text">
                                        </div>
                                    </div>

                                    <div class="col-md-3 col-sm-6">
                                        <div class="form-group">
                                            <select name="catalog" id="catalog" class="form-control">

                                                <option>Select Top Category</option>

                                                @foreach (var item in Model.CategoryVM.Where(q => q.TopCategory == 0))
                                                {

                                                    <option value="@item.CategoryID">@item.CategoryName</option>
                                                }
                                          

                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-3 col-sm-6">
                                        <div class="form-group">
                                            
                                            <select name="category" id="category" class="form-control">
                                                <option>Select Sub Category</option>

                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-2 col-sm-6">
                                        <div class="form-group">
                                            <input class="form-control" type="submit" value="Search">
                                        </div>
                                    </div>

                                </form>
                            </div>

                            <div class="clear"></div>

                        </section>

                    </div>

                    <!-- Start: Search Section -->


                    <div class="row" style="padding: 0 55px 100px 55px;margin: 0 -15px 0 -15px;">

                        <div class="col-md-3">
                            <aside id="secondary" class="sidebar widget-area" data-accordion-group>
                                <div class="widget widget_related_search open" data-accordion>
                                    <h4 class="widget-title" data-control>Related Searches</h4>
                                    <div data-content>
                                        <div data-accordion>
                                            <h5 class="widget-sub-title" data-control>Subject</h5>
                                            <div class="widget_categories" data-content>
                                                <ul>
                                                    <li><a href="#">Love stories <span>(18)</span></a></li>
                                                    <li><a href="#">Texas <span>(04)</span></a></li>
                                                    <li><a href="#">Rich people <span>(03)</span></a></li>
                                                    <li><a href="#">Humorous stories <span>(02)</span></a></li>
                                                    <li><a href="#">Widows <span>(02)</span></a></li>
                                                    <li><a href="#">Women <span>(11)</span></a></li>
                                                    <li><a href="#">Babysitters <span>(25)</span></a></li>
                                                    <li><a href="#">Law firms <span>(09)</span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div data-accordion>
                                            <h5 class="widget-sub-title" data-control>Authors</h5>
                                            <div class="widget_categories" data-content>
                                                <ul>
                                                    <li><a href="#">Love stories <span>(18)</span></a></li>
                                                    <li><a href="#">Texas <span>(04)</span></a></li>
                                                    <li><a href="#">Rich people <span>(03)</span></a></li>
                                                    <li><a href="#">Humorous stories <span>(02)</span></a></li>
                                                    <li><a href="#">Widows <span>(02)</span></a></li>
                                                    <li><a href="#">Women <span>(11)</span></a></li>
                                                    <li><a href="#">Babysitters <span>(25)</span></a></li>
                                                    <li><a href="#">Law firms <span>(09)</span></a></li>
                                                </ul>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div data-accordion>
                                            <h5 class="widget-sub-title" data-control>Series</h5>
                                            <div class="widget_categories" data-content>
                                                <ul>
                                                    <li><a href="#">Love stories <span>(18)</span></a></li>
                                                    <li><a href="#">Texas <span>(04)</span></a></li>
                                                    <li><a href="#">Rich people <span>(03)</span></a></li>
                                                    <li><a href="#">Humorous stories <span>(02)</span></a></li>
                                                    <li><a href="#">Widows <span>(02)</span></a></li>
                                                    <li><a href="#">Women <span>(11)</span></a></li>
                                                    <li><a href="#">Babysitters <span>(25)</span></a></li>
                                                    <li><a href="#">Law firms <span>(09)</span></a></li>
                                                </ul>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div data-accordion>
                                            <h5 class="widget-sub-title" data-control>Other Searches</h5>
                                            <div class="widget_categories" data-content>
                                                <ul>
                                                    <li><a href="#">Love stories <span>(18)</span></a></li>
                                                    <li><a href="#">Texas <span>(04)</span></a></li>
                                                    <li><a href="#">Rich people <span>(03)</span></a></li>
                                                    <li><a href="#">Humorous stories <span>(02)</span></a></li>
                                                    <li><a href="#">Widows <span>(02)</span></a></li>
                                                    <li><a href="#">Women <span>(11)</span></a></li>
                                                    <li><a href="#">Babysitters <span>(25)</span></a></li>
                                                    <li><a href="#">Law firms <span>(09)</span></a></li>
                                                </ul>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="widget widget_narrow_search" data-accordion>
                                    <h4 class="widget-title" data-control>Narrow your search</h4>
                                    <div data-content>
                                        <div data-accordion>
                                            <h5 class="widget-sub-title" data-control>Type of Material</h5>
                                            <div class="widget_material" data-content>
                                                <form action="#">
                                                    <label><input type="checkbox" name="material" value="books"> Books</label>
                                                    <label><input type="checkbox" name="material" value="electronic" checked> Electronic Resources</label>
                                                    <label><input type="checkbox" name="material" value="ebooks"> ebooks</label>
                                                    <label><input type="checkbox" name="material" value="soundrecording" checked> Sound Recording</label>
                                                    <label><input type="checkbox" name="material" value="largeprint"> Large Print</label>
                                                    <label><input type="checkbox" name="material" value="audioebooks" checked> Audio eBooks</label>
                                                </form>
                                            </div>
                                        </div>
                                        <div data-accordion>
                                            <h5 class="widget-sub-title" data-control>Publishing Date </h5>
                                            <div class="widget widget_material" data-content>
                                                <form action="#">
                                                    <label><input type="checkbox" name="material" value="books"> Books</label>
                                                    <label><input type="checkbox" name="material" value="electronic" checked> Electronic Resources</label>
                                                    <label><input type="checkbox" name="material" value="ebooks"> ebooks</label>
                                                    <label><input type="checkbox" name="material" value="soundrecording" checked> Sound Recording</label>
                                                    <label><input type="checkbox" name="material" value="largeprint"> Large Print</label>
                                                    <label><input type="checkbox" name="material" value="audioebooks" checked> Audio eBooks</label>
                                                </form>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div data-accordion>
                                            <h5 class="widget-sub-title" data-control>Popularity </h5>
                                            <div class="widget widget_material" data-content>
                                                <form action="#">
                                                    <label><input type="checkbox" name="material" value="books"> Books</label>
                                                    <label><input type="checkbox" name="material" value="electronic" checked> Electronic Resources</label>
                                                    <label><input type="checkbox" name="material" value="ebooks"> ebooks</label>
                                                    <label><input type="checkbox" name="material" value="soundrecording" checked> Sound Recording</label>
                                                    <label><input type="checkbox" name="material" value="largeprint"> Large Print</label>
                                                    <label><input type="checkbox" name="material" value="audioebooks" checked> Audio eBooks</label>
                                                </form>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div data-accordion>
                                            <h5 class="widget-sub-title" data-control>Language </h5>
                                            <div class="widget widget_material" data-content>
                                                <form action="#">
                                                    <label><input type="checkbox" name="material" value="books"> Books</label>
                                                    <label><input type="checkbox" name="material" value="electronic" checked> Electronic Resources</label>
                                                    <label><input type="checkbox" name="material" value="ebooks"> ebooks</label>
                                                    <label><input type="checkbox" name="material" value="soundrecording" checked> Sound Recording</label>
                                                    <label><input type="checkbox" name="material" value="largeprint"> Large Print</label>
                                                    <label><input type="checkbox" name="material" value="audioebooks" checked> Audio eBooks</label>
                                                </form>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="widget widget_recent_releases">
                                    <h4 class="widget-title">New Releases</h4>
                                    <ul>
                                        <li><a href="#">Books</a></li>
                                        <li><a href="#">eBooks</a></li>
                                        <li><a href="#">DVDS</a></li>
                                        <li><a href="#">Magazines</a></li>
                                        <li><a href="#">Audio</a></li>
                                        <li><a href="#">eAudio</a></li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                @*<div class="widget widget_recent_entries">
                                        <h4 class="widget-title">On-Order Items</h4>
                                        <ul>
                                            <li>
                                                <figure>
                                                    <img src="images/order-item-01.jpg" alt="product" />
                                                </figure>
                                                <a href="#">The Sonic Boom</a>
                                                <span class="price"><strong>Author:</strong> F. Scott Fitzgerald</span>
                                                <span><strong>ISBN:</strong> 978158157</span>
                                                <div class="rating">
                                                    <span>☆</span>
                                                    <span>☆</span>
                                                    <span>☆</span>
                                                    <span>☆</span>
                                                    <span>☆</span>
                                                </div>
                                                <div class="clearfix"></div>
                                            </li>
                                            <li>
                                                <figure>
                                                    <img src="images/order-item-02.jpg" alt="product" />
                                                </figure>
                                                <a href="#">The Sonic Boom</a>
                                                <span class="price"><strong>Author:</strong> F. Scott Fitzgerald</span>
                                                <span><strong>ISBN:</strong> 978158157</span>
                                                <div class="rating">
                                                    <span>☆</span>
                                                    <span>☆</span>
                                                    <span>☆</span>
                                                    <span>☆</span>
                                                    <span>☆</span>
                                                </div>
                                                <div class="clearfix"></div>
                                            </li>
                                            <li>
                                                <figure>
                                                    <img src="images/order-item-03.jpg" alt="product" />
                                                </figure>
                                                <a href="#">The Sonic Boom</a>
                                                <span class="price"><strong>Author:</strong> F. Scott Fitzgerald</span>
                                                <span><strong>ISBN:</strong> 978158157</span>
                                                <div class="rating">
                                                    <span>☆</span>
                                                    <span>☆</span>
                                                    <span>☆</span>
                                                    <span>☆</span>
                                                    <span>☆</span>
                                                </div>
                                                <div class="clearfix"></div>
                                            </li>
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>*@
                            </aside>
                        </div>

                        <div class="col-md-9">
                            <div class="filter-options margin-list">
                                <div class="row">
                                    <div class="col-md-4 col-sm-4">
                                        <select name="orderby">
                                            <option selected="selected">Default sorting</option>
                                            <option>Sort by popularity</option>
                                            <option>Sort by rating</option>
                                            <option>Sort by newness</option>
                                            <option>Sort by price</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <div class="filter-result">Showing items 1 to 9 of 19 total</div>
                                    </div>
                                    @*<div class="col-md-3 col-sm-3 pull-right">
                                            <div class="filter-toggle">
                                                <a href="books-media-gird-view-v1.html" class="active"><i class="glyphicon glyphicon-th-large"></i></a>
                                                <a href="books-media-list-view.html"><i class="glyphicon glyphicon-th-list"></i></a>
                                            </div>
                                        </div>*@
                                </div>
                            </div>
                            <div class="booksmedia-fullwidth">
                                <ul style="display:flex; justify-content:space-around; flex-wrap:wrap">
                                    @foreach (var item in Model.BookVM)
                                    {
                                        <li>
                                            <div class="book-list-icon yellow-icon"></div>
                                            <figure>
                                                <a href="/SiteBook/BookDetail/@item.BookID"><img src="/Admin/Coverimg/@item.Imagepath" alt="Book" style="height:450px"></a>
                                                <figcaption>
                                                    <header>

                                                        <h4><a href="">@item.Name</a></h4>
                                                        <p>
                                                            @foreach (var data in item.BookPersons.Where(q => q.DutyID == 0))
                                                            {
                                                                <strong>Writer:</strong>@(data.Person.Name+ " "+data.Person.SurName) <br />
                                                            }
                                                        </p>

                                                    </header>

                                                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. Pellentesque dolor turpis, pulvinar varius.</p>

                                                </figcaption>
                                            </figure>
                                        </li>
                                    }

                                </ul>
                            </div>

                            <nav class="navigation pagination text-center">
                                <h2 class="screen-reader-text">Posts navigation</h2>
                                <div class="nav-links">
                                    <a class="prev page-numbers" href="#."><i class="fa fa-long-arrow-left"></i> Previous</a>
                                    <a class="page-numbers" href="#.">1</a>
                                    <span class="page-numbers current">2</span>
                                    <a class="page-numbers" href="#.">3</a>
                                    <a class="page-numbers" href="#.">4</a>
                                    <a class="next page-numbers" href="#.">Next <i class="fa fa-long-arrow-right"></i></a>
                                </div>
                            </nav>

                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<script>
    var subcategoryselect = $('#category'); // cache it


    $('#catalog').change(function () {

    var categoryId = $(this).val(); // use $(this)
    console.log(categoryId);
    subcategoryselect.empty(); // clear existing options
    //if (!categoryId) {
    //    return; // there is no point making an ajax call so just exit
    //}
    $.ajax({
        type: 'POST', // or 'GET' depending on how you have modified the method above
        url: "/SiteHome/Getsubcategory", // use @Url.Action() to generate urls
        data: { catalog: categoryId },
        success: function (response) {
            console.log(response);

            //subcategoryselect.append($('<option></option>').val('').text('Please select')); // add a default null option
            $.each(response, function (i, item) {
                console.log(item.categoryName);
                console.log(item.id);
                subcategoryselect.append($('<option></option>').val(item.id).text(item.categoryName));
            });

        },
        error: function (result) {
            console.log("FAILED");
            subcategoryselect.append($('<option></option>').text('Search the SubCategory'));
        }
    });
})
</script>

