
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Site/Shared/_SiteLayout.cshtml";
}

@model BookStoreProject.Models.VM.SiteBookVM
    <!-- Start: Page Banner -->
<section class="page-banner services-banner" style="background-image: url(/Site/images/kitaplık.jpg)">

    <div class="container">
        <div class="banner-header">

            <h2> Books Listing </h2>

            <span class="underline center"></span>

            <p class="lead"> </p>

        </div>

        <div class="breadcrumb">
            <ul>
                <li><a href="/SiteHome/"> Home </a></li>
                <li> Books </li>

            </ul>
        </div>
    </div>

</section>

<!--End: Page Banner -->
<div id="content" class="site-content">
    <div id="primary" class="content-area">
        <main id="main" class="site-main">
            <div class="books-full-width">
                <div class="container-fluid">

                    <div class="row">

                        <section class="search-filters" style="padding:0 70px 0 70px">

                            <div class="filter-box">

                                <h3>What are you looking for at the library?</h3>

                                <form action="/SiteBook/Search/" method="get">

                                    <div class="col-md-4 col-sm-6">
                                        <div class="form-group">
                                            <label class="sr-only" for="keywords">Search by Keyword</label>
                                            <input class="form-control" placeholder="Search by Keyword" id="keywords" name="keywords" type="text">
                                        </div>
                                    </div>

                                    <div class="col-md-3 col-sm-6">
                                        <div class="form-group">
                                            <select name="catalog" id="catalog" class="form-control book-select">

                                                <option>Select Top Category</option>

                                                @foreach (var item in Model.Categories.Where(q => q.TopCategory == 0))
                                                {

                                                    <option value="@item.ID">@item.CategoryName</option>
                                                }

                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-3 col-sm-6">
                                        <div class="form-group">

                                            <select name="category" id="category" class="form-control book-select">
                                                <option>Select Sub Category</option>

                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-2 col-sm-6">
                                        <div class="form-group">
                                            <input class="form-control" type="submit" value="Search">
                                        </div>
                                    </div>

                                </form>
                            </div>

                            <div class="clear"></div>

                        </section>

                    </div>

                    <!-- Start: Search Section -->


                    <div class="row" style="padding: 0 55px 100px 55px;margin: 0 -15px 0 -15px;">

                        <div class="col-md-3">
                            <aside id="secondary" class="sidebar widget-area" data-accordion-group>
                                <div class="widget widget_related_search open" data-accordion>
                                    <h4 class="widget-title" data-control>Related Searches</h4>
                                    <div data-content>

                                        <div data-accordion>
                                            <h5 class="widget-sub-title" data-control>Categories</h5>
                                            <div class="widget_categories" data-content>
                                                <ul>
                                                    @foreach (var item in Model.Categories.Where(q => q.TopCategory == 0))
                                                    {
                                                        <li><a name="catalog" id="@item.ID "class="widget-sub-category"><strong>@item.CategoryName</strong></a></li>


                                                        <div class="widget_categories" style="max-height:inherit">
                                                            <ul>
                                                                @foreach (var data in Model.Categories.Where(q => q.TopCategory == item.ID))
                                                                {

                                                                    <li style="list-style-type:disc"><a name="category" id="@data.ID"class="widget-sub-category" style="padding-bottom:15px">@data.CategoryName</a></li>


                                                                    <div class="widget_categories" style="max-height:inherit">
                                                                        <ul>
                                                                            @foreach (var data1 in Model.Categories.Where(q => q.TopCategory == data.ID))
                                                                            {

                                                                                <li><a name="scategory" id="@data1.ID" style="padding-bottom:15px">@data1.CategoryName</a></li>

                                                                            }

                                                                        </ul>
                                                                    </div>
                                                                }

                                                            </ul>
                                                        </div>


                                                    }

                                                </ul>
                                            </div>
                                        </div>
                                        <div data-accordion>
                                            <h5 class="widget-sub-title" data-control>Writers</h5>
                                            <div class="widget_categories" data-content>
                                                <ul>

                                                    @foreach (var item in Model.people)
                                                    {

                                                        <li><a>@(item.Name+" "+item.SurName)<span>@item.BookPeople.Where(q=>q.IsDeleted==false&&q.PersonID==item.ID).Count()</span></a></li>
                                                    }

                                                </ul>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                            </aside>
                        </div>

                        <div class="col-md-9">


                            <div class="booksmedia-fullwidth">
                                <ul style="display:flex; justify-content:space-around; flex-wrap:wrap">
                           

                                    @foreach (var item in Model.books)
                                    {
                                        <li>
                                            <div class="book-list-icon yellow-icon"></div>
                                            <figure>
                                                <a href="/SiteBook/BookDetail/@item.ID"><img src="/Admin/Coverimg/@item.Imagepath" alt="Book" style="height:450px"></a>
                                                <figcaption>
                                                    <header>

                                                        <h4><a href="">@item.Name</a></h4>
                                                        <p>
                                                            @foreach (var data in item.BookPersons.Where(q => q.DutyID == 0))
                                                            {
                                                                <strong>Writer:</strong>@(data.Person.Name+ " "+data.Person.SurName) <br />
                                                            }
                                                        </p>

                                                    </header>

                                                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. Pellentesque dolor turpis, pulvinar varius.</p>

                                                </figcaption>
                                            </figure>
                                        </li>
                                    }

                                </ul>
                            </div>

                            <nav class="navigation pagination text-center">
                                @*<h2 class="screen-reader-text">Posts navigation</h2>*@
                                <div class="nav-links">
                                    <a class="prev page-numbers" href="#"><i class="fa fa-long-arrow-left"></i> Previous</a>
                                    <a class="page-numbers current" href="#">1</a>
                                    <a class="page-numbers" href="#">2</a>
                                    <a class="page-numbers" href="#">3</a>
                                    <a class="page-numbers" href="#">4</a>
                                    <a class="next page-numbers" href="#">Next <i class="fa fa-long-arrow-right"></i></a>
                                </div>
                            </nav>

                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>



<script>

    var subcategoryselect = $('#category');


    $('#catalog').change(function () {

        subcategoryselect.empty();
        var categoryId = $(this).val();

        if (categoryId == null) {
            subcategoryselect.empty();
            subcategoryselect.append($('<option></option>').val("").text('Select Sub Category'));
        }

        console.log(categoryId);

        $.ajax({
            type: 'POST',
            url: "/SiteHome/Getsubcategory",
            data: { catalog: categoryId },
            success: function (response) {

                subcategoryselect.append($('<option></option>').val("").text('Select Sub Category'));
                $.each(response, function (i, item) {
                    console.log(item.categoryName);
                    console.log(item.id);
                    subcategoryselect.append($('<option></option>').val(item.id).text(item.categoryName));
                });

            }

        });
    })

</Script>


<script>

    $('.widget-sub-category').click(function () {

        if ($(this).attr('name') == "catalog") {
            var categoryId = $(this).attr('id');

            console.log(categoryId);

            $.ajax({
                type: 'GET',
                url: "/SiteBook/Search",
                data: { catalog: categoryId },
            });
        }


        if ($(this).attr('name') == "category") {
            var categoryId = $(this).attr('id');

            console.log(categoryId);

            $.ajax({
                type: 'GET',
                url: "/Sitebook/Search",
                data: { category: categoryId },
            });
        }

        if ($(this).attr('name') == "scategory") {
            var categoryId = $(this).attr('id');

            console.log(categoryId);
            alert(categoryId);
            $.ajax({
                type: 'GET',
                url: "/SiteBook/Search",
                data: { scategory: categoryId },

            });
        }

    })
</script>


@*<script>
        $(".fa").mouseout(function () {
            $(this).removeClass('fa-star').addClass('fa-star-o');
            $(this).prevAll(".fa").removeClass('fa-star').addClass('fa-star-o');
        })
    </script>*@



